<p>salut</p>
<div id="mySidebar" class="sidebar">
    <p class="sidebarTitle">Settings</p><br>
    <div class="sidebarInter">
        <form action="#" class="sidebarForm">
            <label for="Xaxis">Size:</label>
            <input type="number" class="sidebarInput" id="Xaxis" name="Xaxis" value="horizontal">
            <label for="Yaxis"> X </label>
            <input type="number" class="sidebarInput" id="Yaxis" name="Yaxis" value="vertical"><br>
            <input type="submit" class="sidebarSubmit" value="Submit">
          </form> 
    </div>
    <div class="sidebarInter">
        <form action="#" class="sidebarForm">
            <label for="nbElement">Nb of element</label>
            <input type="number" class="sidebarInput" id="nbElement" name="nbElement" value="horizontal">

            <input type="submit" class="sidebarSubmit" value="Submit">
          </form> 
    </div>
</div>
